<!DOCTYPE html>
<html>
<body>
	@{
		Html.BeginForm("Privacy", "Home");
	}
	@Html.Label("User Name:")</br>
	@Html.TextBox("textBox1")</br></br>
	@Html.Label("Address:")</br>
	@Html.TextArea("textarea1")</br></br>
	@Html.Label("Password:")</br>
	@Html.Password("password")</br></br>
	@Html.Label("I need updates on my mail:")
	@Html.CheckBox("checkbox1")</br> </br>
	@Html.Label("Select your city:")
	@Html.DropDownList("myList", new SelectList(new []
	{"New York","Philadelphia", "California"}),
	"Choose")</> </br></br>
	<input type="submit" value="Submit">
	@{
		Html.EndForm();
	}
</body>
</html>